name: Build and Push Flag sender Docker image

on:
  push:
    branches: ["main"]
    paths:
      - "flag_senders/**"
      - ".github/workflows/build-flag-sender.yml"
  pull_request:
    branches: ["main"]
    paths:
      - "flag_senders/**"
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  BACKEND_IMAGE_NAME: ${{ github.repository }}/sibears_farm_flag_sender

jobs:
  python-check:
    permissions: {}
    uses: ./.github/workflows/python-check.yml
  build-and-push:
    runs-on: ubuntu-latest
    needs: python-check
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Логинимся в регистр только если это не PR или если PR от авторизованного пользователя
      - name: Log in to the Container registry
        # Выполняем только для push в main, не для PR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.BACKEND_IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha,format=short
            # Добавляем специальное тегирование для PR
            type=raw,value=pr-${{ github.event.pull_request.number }},enable=${{ github.event_name == 'pull_request' }}
            # Тег latest только для main ветки
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./flag_senders
          # Публикуем образ только если это не PR
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            DOCKER_BUILDKIT=1
